## Question 1: Write program to check a person’s eligibility for a loan based on age, credit score, and income.

In [22]:
Age = int(input("What's your age?: "))

if Age >= 18:
    Credit_Score = int(input("What's your credit score?: "))
    Income = float(input("How much you earn annually?(USD): "))
    if Credit_Score >= 650 and Income >= 30000:
        print("You are eligible for loan")
    elif Credit_Score >= 700 and Income >= 25000:
        print("You are also eligible for loan")
    else:
        print("You are not eligible for loan as per our criteria")
else:
    print("You are not eligible for loan due to underage")

What's your age?:  18
What's your credit score?:  1000
How much you earn annually?(USD):  24000

You are not eligible for loan as per our criteria

## Q2. Write a Python program that checks if a person is an adult (age ≥ 18).

In [46]:
Age = int(input("What's your age?: "))

if Age >= 18:
    Experience = int(input("Years of experience?: "))
    if Experience >= 10:
        print("You have a lot of experience")
    elif Experience >= 5 and Experience <= 9:
        print("You have moderate of experience")
    elif Experience >= 2 and Experience <= 4:
        print("You are relatively new")
    else:
        print("You are are just starting out")
else:
    print("You are underage")

What's your age?:  18
Years of experience?:  2

You are relatively new

## Q3. Write a program to explore below variables, Result will help a programmer to decide which variable is storing less memory and variable locations.

In [101]:
Variable_One = 50
Variable_Two = 200
Variable_Three = 50.0 
Variable_Four = "Hello"
print("Memory address of Variable_One:", id(Variable_One))
print("Memory address of Variable_Two:", id(Variable_Two))
print("Memory address of Variable_Three:", id(Variable_Three))
print("Memory address of Variable_Four:", id(Variable_Four))

Memory address of Variable_One: 140718633922520
Memory address of Variable_Two: 140718633927320
Memory address of Variable_Three: 1646816549648
Memory address of Variable_Four: 1646820951984

In [102]:
import sys
# sys.getsizeof()

memory = "bytes"

One = Variable_One
print(sys.getsizeof(x),memory)

Two = Variable_Two
print(sys.getsizeof(y),memory)

Three = Variable_Three
print(sys.getsizeof(x),memory)

Four = Variable_Four
print(sys.getsizeof(y),memory)

43 bytes
44 bytes
43 bytes
44 bytes

In [109]:
memory_sizes = [
    (sys.getsizeof(Variable_One)),
    (sys.getsizeof(Variable_Two)),
    (sys.getsizeof(Variable_Three)),
    (sys.getsizeof(Variable_Four)),
]

In [110]:
memory_sizes

[28, 28, 24, 46]

In [111]:
min(memory_sizes)

24

In [112]:
type(Variable_Three)

float

## Q4. Write a Python program that asks the user to enter an email address.

In [128]:
email = input("Enter your email address here: ")

if "@" in email or "." in email:
    print("Email format is Valid")
else:
    print("Invalid Email format")

Enter your email address here:  mnk@gmail.com

Email format is Valid

## Q5. Write a python program to know data type of each element stored in a tuple, append the data types in a list.

In [143]:
my_tuple = (11, 22.333, 'apple', [1,2,3], ('a','b'))

In [144]:
type1 = type(my_tuple[0])
type2 = type(my_tuple[1])
type3 = type(my_tuple[2])
type4 = type(my_tuple[3])
type5 = type(my_tuple[4])

In [145]:
data_types = [type1, type2, type3, type4, type5]

In [146]:
print("Data types of tuple elements:", data_types)

Data types of tuple elements: [<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'tuple'>]

## Q6. Write a Python program that: 
### Checks if a given username exists in a list of active users.
### Verifies if the user is the admin using identity operators.

In [163]:
active_users = [("alice", "admin"), ("bob", "user"), ("charlie", "moderator")]

admin_user = ("alice", "admin")

user_input = input("Enter username to check: ")

user_exists = (user_input, "admin") in active_users or (user_input, "user") in active_users or (user_input, "moderator") in active_users

if user_exists:
    print("The username exists in the active users list.")
    if (user_input, "admin") in active_users:
        print("The user is the admin.")
    else:
        print("The user is not the admin.")
else:
    print("The username does not exist in the active users list.")

Enter username to check:  alice

The username exists in the active users list.
The user is the admin.

## Q7 find relation between person1, person2, and person 3.

In [167]:
person1 = ['Shehzad','Shama','Shah Faisal','5555'] 

person2 = person1

person3 = ['Zaki','Sahera','Nazimabad','9999']

print(id(person1))
print(id(person2))
print(id(person3))
print(person1 is person2)

1646834422336
1646834422336
1646833203648
True

In [169]:
if person1 is person2:
  print("Relation: Siblings")
else:
    print("Relation: Not Siblings")

Relation: Siblings

In [170]:
if person1 is person3:
  print("Relation: Cousin")
else:
    print("Relation: Not Cousin")

Relation: Not Cousin

## Q8. Write a Python program to store and display a book&#39;s title, author, year of publication, and price using a tuple.

In [174]:
title = input("Enter the book's title: ")
author = input("Enter the author's name: ")
year = int(input("Enter the year of publication: "))
price = float(input("Enter the book's price: "))

book_info = (title, author, year, price)
print(book_info)

Enter the book's title:  Intro to python
Enter the author's name:  Ms. Khushboo Saleem
Enter the year of publication:  2023
Enter the book's price:  999.99

('Intro to python', 'Ms. Khushboo Saleem', 2023, 999.99)